/* CSS HEX */
:root {
  --dev-ops: #3c153b;
  --be: #ff6361;
  --fae: #bc5090;
  --ui: #003f5c;
  --bg: #f3f3f3;
  --font: #333;
  --font-light: #838383;
  --mid-gray: #ccc;
  --radius: 3px
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font);
  background: var(--ui);
  background: rgb(0,63,92);
  background: linear-gradient(60deg, var(--be) 0%, var(--fae) 35%, var(--ui) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "Typebase.css";

/* Entities */

.be,
.BE {
  background: var(--be);
}

.fae,
.FAE {
  background: var(--fae);
}

.ui,
.UI {
  background: var(--ui);
}

h1 span {
  color: var(--font-light);
}

/* Components */

.animated-bar {
  position: relative;
  width: 100%;
}
.bar {
  position: absolute;
  transition: all 0.6s;
  transform: translate3d(0,0,0);
}
.bar > div {
  transform: translate3d(0,0,0);
  position: absolute;
  left: 1px;
  right: 1px;
  top: 0;
  height: 100%;
  border-radius: var(--radius);
}

.bar:first-child > div {
  left: 0;
}

.bar:last-child > div {
  right: 0;
}

.configuration,
.configuration > * ,
.team {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.configuration {
  justify-content: space-between;
}

.team > * {
  flex: 1;
}

.team > * {
  display: flex;
  flex-direction: column;
}

.team {
  text-align: center;
}

.team > * {
  border-right: 1px solid var(--mid-gray);
}
.team > *:last-child {
  border-right: none;
}
.team > * > *:first-child + * {
  font-size: 2.828rem;
}

.team > * > *:last-child {

}



/* Layout */

.split {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.split > *:first-child {
  flex: 2;
}

.split > *:last-child {
  flex: 3;
}

.container {
  /*width: 80%;*/
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 2rem 2rem 2rem;
  /*background: rgba(255,255,255,.4);*/
}

.container h3 {
  color: #fff;
  font-weight: normal;
}

.block {
  padding: 1rem;
  margin: 1rem 0;
  background: var(--bg);
}

input {
  width: 70px;
  padding: 4px;
  border-radius: var(--radius);
  border: 1px solid  var(--mid-gray);
  /*background: var(--mid-gray);*/
}

figure {
  margin: 1rem 0 0 0;
  padding: 1rem;
  background: var(--bg);
}

figure img {
  max-width: 100%;
}

figure .caption {
  margin-top: 0.25rem;
}
